.dashboard {
    padding: 25px 80px;
    width: 100%;
}

.dashboard h1 {
    font-size: 48px;
    font-weight: 500;
    color: #000;
}

.dashboard span {
    color: #FF0101;
}

.dashboard-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.dashboard-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width:80%;
}

.activity-block {
    width: 100%;
}

.dashboard-three-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.duration-block {
    width: 30%;
}

.intensity-block {
    width: 30%;
}

.score-block {
    width: 30%;
}

.indicator-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18%;
}